<div style="width: 100%;">
    <br /><br />
    <strong>Oups, la page que à laquelle vous essayez d'accéder n'existe pas !</strong>
    <p>Retour à la page d'accueil dans @countdown s</p>
    <br /><br />
</div>