@using CraftSharp.Models

<div class="item"
     ondragover="event.preventDefault();"
    
     @ondrop="@OnDrop">


    <img src="/Images/Trash.png" title="Delete" alt="Delete" style="min-width: 64px; max-width: 64px" />
    <p>Delete</p>
    
</div>