<div class="offer">
    <div class="input">
        <img src="@inputIcon" style="width: 30px" /> @inputAmount
    </div>
    @centerText
    <div class="output">
        <img src="@outputIcon" style="width: 30px" /> @outputAmount
    </div>
</div>