@inherits LayoutComponentBase

<PageTitle>CraftSharp</PageTitle>

<div>
    <div class="sidebar" >
       <HeaderLayout />
    </div>
    <article class="content px-4">
        @Body
    </article>
</div>