.bedrock_footer {
    width: 100%;
    position: relative;
}

.bedrock_footer_img {
    width: 100%;
    pointer-events: none;
}

.spacer{
    height: 300px;
}
.main_div {
    background: url("../Images/blur_background.jpg") center center/cover no-repeat fixed;
    color: white;
    min-height: 100vh;
    position: relative;
}

.culture{
    position: absolute;
    bottom: 0;
}