@inherits LayoutComponentBase

<PageTitle>CraftSharp</PageTitle>

<div class="main_div">
    <HeaderLayout />
    <article class="content px-4">
        @Body
    </article>

    <div class="bedrock_footer">
        <img class="bedrock_footer_img" src="/Images/bedrock_footer.png" />
        <div class="px-4 culture">
            <CultureSelector />
        </div>

    </div>

</div>


