@inject NavigationManager navigationManager
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">

        <img class="nav-image" src="Images/CraftSharp-Logo.png" alt="Logo Application"/>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-0 mb-md-0">
                <li class="nav-item">
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="List">
                        <span class="oi oi-box"></span> List
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="counter">
                        <span class="oi oi-plus"></span> @Localizer["Shop"]
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich"></span> Inventaire
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Tabledecraft">
                        <span class="oi oi-vertical-align-top"></span> Crafter
                    </NavLink>
                </li>
            </ul>
            <div>
                <div >
                    <CultureSelector/>
                </div>
                <button @onclick=@goConnexion> Se connecter
            </button>
                <button @onclick=@goInscription> S'inscrire
            </button>
        </div>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}