@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<div class="connexionBody">
    <header>
        <img src="../images/CraftSharp-Logo.png"/>
    </header>

    @Body

    <footer>
        <p class="p1">Craft# 1.0</p>
        <p class="p2">Copyright KARTAL Emre, VALIN Arthur, HASSOU Rayhan</p>
    </footer>
</div>